* {
    box-sizing: border-box;
}

body {
    --bg-color: #fff;
    --second-soft-color: #9e8c6c28; 
    --second-color: #9E8C6C;
    --third-color: #0699A6;
    --important-color: #000;
    --white-text: #fff;
    --h3-font: Arial Narrow;
    --title-font: serif;
}

body, h1, h2, h3, p, div, ul, li, span{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* MAIN SECTION -----------*/

.profile__portfolio {
    background-color: var(--second-soft-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
    margin-bottom: 40px;
}

.profile--photo img {
    width: 160px;
    border-radius: 50%;
    margin-top: 80px;
    margin-bottom: 30px;
}

.profile--contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile--contact p {
    text-align: center;
    color: var(--second-color);
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--h3-font);
    margin-bottom: 14px;
}

.profile--contact h1 { 
    text-align: center;
    font-family: var(--title-font);
    font-size: 56px;
    margin-bottom: 40px;
    font-weight: 900;
    color: var(--important-color);
}

.profile--contact_block {
    display: block;
    line-height: 46px;
}

.profile--contact button {
    margin-bottom: 100px;
    color: var(--white-text);
    background-color: var(--third-color);
    border: none;
    width: 225px;
    height: 60px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: var(--h3-font);
    font-weight: 700;
    letter-spacing: 2px;
}

/* PROFILE INFO ------------ */

.profile__info {
    margin:0 20px ;
}

.about__me h2 {
    font-size: 32px;
    font-weight: 900;
    font-family: var(--title-font);
}

.about__me p {
    font-size: 18px;
    font-family: var(--h3-font);
    font-weight: 400;
    line-height: 30px;
    color: var(--important-color);
    margin-top: 10px;
    margin-bottom: 40px;
}