* {
    box-sizing: border-box;
}

body{
    background-color: var(--bg-color);
    --bg-color: #000;
    --dark-border: #27272A;
    --principal-color: #FAFAFA;
    --secondary-color: #D9D9D9;
    --text-size: 0.875rem;
    --h3-size: 1.5rem;
    --h2-size: 1.875rem;
    --h1-size: 3rem;
    --h5-size: 1.125rem;
    --text-logo: 1rem;
}

body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* HEADER ------ */

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    padding: 14px;
    border-bottom: 1px solid var(--dark-border);
}

.header__logo{
    display: flex;
    color: var(--principal-color);
    margin-right: 86px;
    align-items: center;
    gap: 12px;
}

.header__logo p{
    font-size: var(--text-logo);
}

.header__account {
    display: flex;
    color: var(--secondary-color);
    margin-right: 16px;
    align-items: center;
}

.header__menu span{
    color: var(--principal-color);
}

.header__account{
    font-size: var(--text-size);
    gap: 16px;
}

.header__account-signup {
    display: flex;
    align-items: center;
    color: var(--bg-color);
    background-color: var(--principal-color);
    padding: 2px 8px;
    border-radius: 6px;
    height: 28px;
    font-size: var(--text-size);
}

/* DIV / MAIN ---- */

.pandem__principal-start, .pandem__principal-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 32px;
}

.pandem__principal-start div:first-child{
    margin-top: 44px;
    margin-bottom: 32px;
}

.hero-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-text h1{
    font-size: var(--h1-size);
    font-weight: 800;
    line-height: 48px;
    letter-spacing: -1.2%;
    color: var(--principal-color);
    min-width: 311px;
    max-width: 672px;
    text-align: center;
}

.hero-text p{
    color: var(--secondary-color);
    text-align: center;
    font-size: var(--text-size);
    line-height: 28px;
    margin-top: 24px;
    width: clamp(311px, 100%, 672px);
}

.pandem__principal-start button{
    background-color: var(--principal-color);
    border: none;
    width: 122px;
    color: var(--bg-color);
    border-radius: 16px;
    font-size: var(--text-size);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    margin-bottom: 32px;
}

.pandem__principal-image{
    display: flex;
    justify-content: center;
    margin: 0 32px;
    margin-bottom: 32px;
}

.pandem__principal-image img{
    width: clamp(311px, 100%, 1024px);
}

.pandem__principal-info {
    margin-bottom: 96px;
}

.pandem__h2{
    font-size: var(--h2-size);
    text-align: center;
    margin-top: 32px; 
    margin-bottom: 48px;
    color: var(--principal-color);
}

.principal__avantatges {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 11.5px;
    gap: 48px;
}

.principal__info-item {
    width: 288px;
}

.info__item-logo span{
    padding: 16px;
    border: 1px solid var(--dark-border);
    margin-bottom: 24px;
    color: var(--principal-color);
}

.info__item-text h3{
    font-size: var(--h3-size);
    font-weight: 500;
    color: var(--principal-color);
    margin-bottom: 24px;
}

.info__item-text p{
    font-size: var(--text-size);
    line-height: 28px;
    color: var(--principal-color);
}

.pandem__setup {
    margin: 96px 0;
}

.pandem__setup h2 {
    font-size: var(--h2-size);
    text-align: center;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.75%;
    color: var(--principal-color);
    margin-bottom: 24px;
}

.pandem__setup p {
  font-size: var(--text-size);
  line-height: 28px;
  text-align: center;
  margin-bottom: 24px;
  color: var(--principal-color);   
}

.pandem__setup-img{
    display: flex;
    justify-content: center;
}

.pandem__setup-img img{
    width: clamp(311px, 100%, 1024px);
}

.pandem__demo-start{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pandem__demo-start h2{
    font-size: var(--h1-size);
    margin-bottom: 24px;
    line-height: 48px;
    text-align: center;
    color: var(--principal-color);
}

.pandem__demo-start p {
    font-size: var(--h5-size);
    text-align: center;
    line-height: 18px;
    margin-bottom: 24px;
    color: var(--secondary-color);
}

.pandem__demo-start button {
    border: none;
    background-color: var(--principal-color);
    display: flex;
    align-items: center;
    color: var(--bg-color);
    border-radius: 6px;
    width: 122px;
    height: 32px;
    font-weight: 600;
    font-size: var(--text-size);
}

.center{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: 10px;
}

/* FOOTER ----- */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--secondary-color);
}

.footer__logo {
    display: flex;
    align-items: center;
    color: var(--principal-color);
    gap: 12px;
}

.footer__contact-terms {
    display: flex;
    align-items: center;
    gap: 12px;
}